<app-navbar></app-navbar>
<div class="card text-white bg-primary p-4 b-5 m-4">
    <div class="card text-white bg-secondary mb-3">

        <h3>Credenciales del usuario</h3>
    </div>
    <div class="card-body">
        <label for="staticEmail" class="col-sm-2 col-form-label">Usuario</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputUser">
        </div>
    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword">
        </div>

    </div>

    <div class="card text-white bg-secondary mb-3">
        <h3>Datos del usuario</h3>

    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNombre">
        </div>

    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Apellido</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputApellido">
        </div>

    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">telefono</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTelefono">
        </div>

    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail">
        </div>

    </div>

    <div class="card text-white bg-secondary mb-3">
        <h3>Datos del domicilio</h3>

    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Calle</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputCalle">
        </div>

    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Nro</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNro">
        </div>

    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Localidad</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputLocalidad">
        </div>

    </div>
    <button type="button" class="btn btn-warning"  routerLink="/home" routerLinkActive="active">REGISTRAR!</button>
</div>
