<app-navbar [usuarioId]="usuarioId" [adminId]="adminId"></app-navbar>
<div class="card text-white bg-primary p-4 b-5 m-4">
    <div class="card text-white bg-secondary mb-3">

        <h3>Credenciales del usuario</h3>
    </div>
    <div class="card-body">
        <label for="staticEmail" class="col-sm-2 col-form-label">Usuario</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputUser" [(ngModel)]="usuario.usuario">
        </div>
    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword" [(ngModel)]="usuario.clave">
        </div>

    </div>

    <div class="card text-white bg-secondary mb-3">
        <h3>Datos del usuario</h3>

    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNombre" [(ngModel)]="cliente.nombre">
        </div>

    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Apellido</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputApellido" [(ngModel)]="cliente.apellido">
        </div>

    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">telefono</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTelefono" [(ngModel)]="cliente.telefono">
        </div>

    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail" [(ngModel)]="cliente.email">
        </div>

    </div>

    <div class="card text-white bg-secondary mb-3">
        <h3>Datos del domicilio</h3>

    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Calle</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputCalle" [(ngModel)]="domicilio.calle">
        </div>

    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Nro. Domicilio</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNro" [(ngModel)]="domicilio.numero">
        </div>

    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Localidad</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputLocalidad" [(ngModel)]="domicilio.localidad">
        </div>

    </div>
    <div *ngIf="adminId" class="dropdown">
        <button class="btn btn-dark dropdown-toggle b-2 m-2" data-toggle="dropdown" role="button" aria-expanded="false" style="color:#fffffffd;">
          Seleccionar Rol: {{usuario?.rol}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" (click)="setearRol('user')">Usuario</a></li>
          <li><a class="dropdown-item" (click)="setearRol('cocinero')">Cocinero</a></li>
          <li><a class="dropdown-item" (click)="setearRol('cajero')">Cajero</a></li>
          <li><a class="dropdown-item" (click)="setearRol('admin')">Admin</a></li>
        </ul>
    </div>
    <button *ngIf="!usuarioId" type="button" class="btn btn-warning"  (click)="registrar()" routerLinkActive="active">REGISTRAR!</button>
    <button *ngIf="usuarioId" type="button" class="btn btn-success"  (click)="actualizar()" routerLinkActive="active">ACTUALIZAR!</button>
</div>
