<app-navbar></app-navbar>

    <div class="card border-warning mb-3" style="max-width: 90rem;" >
        <div class="card-body">
        <div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body" style="text-align:center;"> 
                  <a href="#" class="btn btn-primary">Pedidos</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body" style="text-align:center;"> 
                  <a href="/manufacturados" class="btn btn-primary">Manufacturados</a>
                </div>
              </div>
        </div>
        </div>




