<app-navbar></app-navbar>    
<div class="card bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button backButton class="btn btn-secondary my-2" >volver</button>
        <form>
            <div class="form-group">
                <label for="denominacion">Denominacion</label>
                <input type="text" name="denominacion" class="form-control" id="denominacion" 
                [(ngModel)]="manufacturado.denominacion">
                <div class="alert alert-danger" *ngIf="error?.denominacion">
                  {{ error.denominacion }}
                </div>
            </div>
            <div class="form-group">
                <label for="precioVenta">Precio Venta</label>
                <input type="text" name="precioVenta" class="form-control" id="precioVenta" 
                [(ngModel)]="manufacturado.precioVenta">
                <div class="alert alert-danger" *ngIf="error?.precioVenta">
                    {{ error.precioVenta }}
                </div>
            </div>
            <div class="form-group">
                <label for="tiempoEstimadoCocina">Tiempo Estimado Cocina</label>
                <input type="text" name="tiempoEstimadoCocina" class="form-control" id="tiempoEstimadoCocina" 
                [(ngModel)]="manufacturado.tiempoEstimadoCocina">
                <div class="alert alert-danger" *ngIf="error?.tiempoEstimadoCocina">
                    {{ error.tiempoEstimadoCocina }}
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" 
                (click)="manufacturado.id? editar(): crear()">
                {{ manufacturado.id? 'Editar': 'Crear' }}
                </button>
           
            </div>
        </form>
    </div>
</div>