<app-navbar [usuarioId]="usuarioId"></app-navbar>
<div>  
<button class="btn btn-primary my-2" [routerLink]="['/',usuarioId, 'manufacturados','form']" >crear</button>

<button backButton class="btn btn-danger" (click)="volver()" style="float: right">volver</button>

    <body class="card text-white bg-dark m-2 b-2" *ngFor="let articulo of ArticuloManofacturado">

        <tr>
            <td>
                <div>
                    <img *ngIf="articulo.imagen" [src]="formatImage(articulo.imagen)"
                                    class="img-thumbnail rounded" style="width: 250px; cursor:pointer;">
                </div>
            </td>

            <td>
        <tr>
            <a>{{articulo.denominacion}}</a>
        </tr>
        <tr>
            <a>
                {{articulo.precioVenta}}

            </a>
        </tr>
        <tr>
            <a>
                Tiempo Cocina: {{articulo.tiempoEstimadoCocina}} min
            </a>
        </tr>

        </td>

        </tr>
        <td>
            <button type="button" class="btn btn-warning" routerLinkActive="active"  [routerLink]="['/',usuarioId,'manufacturados','form',articulo.id]">Editar</button>

            <button type="button" class="btn btn-danger" routerLinkActive="active"  (click)="eliminar(articulo)">Eliminar</button>
        </td>

    </body>

</div>
