

<app-navbar [adminId]="adminId"></app-navbar>


<nav class="navbar navbar-light" style="background-color: #e3f2fd;">


    <li class="nav-item dropdown p-3 b-5 m-3">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color:#000000d3;">
            articulos
        </a>

        <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/',adminId,'manufacturados','form']">agregar articulo manofacturado</a></li>
            <li><a class="dropdown-item" [routerLink]="['/insumo',adminId,'form']">agregar articulo insumo</a></li>

        </ul>
    </li>

    
    <li class="nav-item dropdown p-3 b-5 m-3">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color:#000000d3;">
            usuarios
        </a>

        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" [routerLink]="['/register/admin',adminId]">agregar usuario</a></li>

        </ul>
    </li>
    <button type="button" class="btn btn-secondary" (click)="listarUsuarios()">Listar Usuarios</button>
    <button type="button" class="btn btn-secondary" (click)="listarArticuloManofacturados()">Listar Articulos
        Manofacturados</button>
    <button type="button" class="btn btn-secondary" (click)="listarArticuloInsumos(true)">Listar Articulos insumo</button>
    <button type="button" class="btn btn-secondary" (click)="listarArticuloInsumos(false)">Listar Bebidas</button>
    
</nav>
<div class="card text-white bg-secondary mb-3 " >
    

    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
    REPORTES
</button>
        <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color: black;">REPORTES EXCEL</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle p-2 m-2 b-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              TIPO REPORTE {{opcion}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" (click)="setTipoReporte(1)">Mejor Cliente</a></li>
              <li><a class="dropdown-item" (click)="setTipoReporte(2)">Mejor Articulo Manufacturado</a></li>
              <li><a class="dropdown-item" (click)="setTipoReporte(3)">Ingresos</a></li>
              <li><a class="dropdown-item" (click)="setTipoReporte(4)">Ganancias</a></li>
            </ul>
        </div>
        <div class="modal-body">

            <div class="card b-2 m-2 p-3 bg-info">
                <h4 style="color: rgb(255, 255, 255); padding: 15px;">Fecha Desde</h4>
                <input type="datetime-local"
                [(ngModel)]="reporte.fechaInicio">
            </div>
            
            <div class="card b-2 m-2 p-3 bg-info">
                <h4 style="color: rgb(255, 255, 255); padding: 15px;">Fecha Hasta</h4>
                <input type="datetime-local"
                [(ngModel)]="reporte.fechaDestino">
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="generarReporte()">GENERAR</button>
        </div>
      </div>
    </div>
  </div>
          
  </div>
          




        <body *ngIf="listarUsuario">


            <form class="d-flex" style="margin: 10px;">
                <input class="form-control me-2" name="filterPost" type="search" placeholder="Buscar usuario" aria-label="Search"  [(ngModel)]="
                filterPost" style=" width: 220px;">
            </form>

            <body *ngFor="let usuario of usuarios | filterUsuario:filterPost">

            <div class="card text-white bg-dark m-2 b-2" *ngIf=" (usuario.fechaBaja)===null && (usuario.rol)!='user' && (usuario.rol)!='userg'">
                <tr>
                    <td>
                        <tr>
                            <a>* {{usuario.cliente.nombre}}  {{usuario.cliente.apellido}}</a>
                        </tr>
                        <tr>
                            <a>
                                * {{usuario.cliente.email}}
                            </a>
                        </tr>
                        <tr>
                            <a class="badge bg-primary">
                                {{usuario.rol}}
                            </a>
                        </tr>
                    </td>
                </tr>
                <td>
                    <button type="button" class="btn btn-warning" (click)="editarUsuario(usuario.id)" routerLinkActive="active">Editar</button>
                    <button type="button" class="btn btn-danger"  (click)="borrarUsuario(usuario)" routerLinkActive="active">Eliminar</button>
                </td>
            </div>

            </body>
        </body>


        <body *ngIf="listarArticuloManofacturado">

            <form class="d-flex" style="margin: 10px;">
                <input class="form-control me-2" name="filterPost" type="search" placeholder="Buscar manufacturado" aria-label="Search"  [(ngModel)]="
                filterPost" style=" width: 220px;">
            </form>

            <body *ngFor="let articulo of ArticuloManofacturado | filter:filterPost">

            <div  class="card text-white bg-dark m-2 b-2" *ngIf=" (articulo.fechaBaja)===null">    
                <tr>
                    <td>
                        <div>
                            <img *ngIf="articulo.imagen"
                            [src]="formatImage(articulo.imagen)"
                            class= "img-thumbnail rounded"
                            style= "width: 250px; cursor:pointer;">
                        </div>
                    </td>

                    <td>
                <tr>
                    <a> * {{articulo.denominacion}}</a>
                </tr>
                <tr>
                    <a>
                        * {{articulo.precioVenta}}

                    </a>
                </tr>
                <tr>
                    <a>
                        Tiempo Cocina: {{articulo.tiempoEstimadoCocina}} min
                    </a>
                </tr>

                </td>

                </tr>
                <td>
                    <button type="button" class="btn btn-warning" [routerLink]="['/',adminId,'manufacturados','form', articulo.id]" routerLinkActive="active">Editar</button>
                    <button type="button" class="btn btn-danger" (click)="borrarArticuloManofacturado(articulo)" routerLinkActive="active">Eliminar</button>
                </td>
            </div>
            </body>
        </body>

        <body *ngIf="listarArticuloInsumo">

            <form class="d-flex" style="margin: 10px;">
                <input class="form-control me-2" name="filterPost" type="search" placeholder="Buscar insumo" aria-label="Search"  [(ngModel)]="
                filterPost" style=" width: 220px;">
            </form>

            <body *ngFor="let articulo of ArticuloInsumo | filterInsumo:filterPost">

            <div class="card text-white bg-dark m-2 b-2" *ngIf=" (articulo.fechaBaja)===null">    
                <tr>
                    <td>
                        <div>
                            <a href=''>
                                

                            </a>
                        </div>
                    </td>

                    <td>
                <tr>
                    <p></p>
                    <h2> * {{articulo.denominacion}}</h2>
                </tr>
                <tr>
                    <a>
                        precio venta: ${{articulo.precioVenta}}

                    </a>
                </tr>
                <tr>
                    <a>
                        precio compra: ${{articulo.precioCompra}}

                    </a>
                </tr>
                <tr>
                    <a>
                        Stock actual: {{articulo.stockActual}}
                    </a>
                </tr>
                <tr>
                    <a>
                        Stock minimo: {{articulo.stockMinimo}}
                    </a>
                </tr>
                <tr>
                    <a>
                        Unidad medida: {{articulo.unidadMedida}}
                    </a>
                </tr>
                <tr>
                    <a>
                        Es insumo: {{articulo.esInsumo}}
                    </a>
                </tr>

                </td>

                </tr>
                <td>
                    <button type="button" class="btn btn-success" (click)="aumentarStockInsumo(articulo)" routerLinkActive="active">Aumentar Stock</button>
                    <button type="button" class="btn btn-warning" [routerLink]="['/insumo',adminId,'form',articulo.id]" routerLinkActive="active">Editar</button>
                    <button type="button" class="btn btn-danger"  (click)="borrarInsumo(articulo)" routerLinkActive="active">Eliminar</button>
                </td>
            </div>
            </body>
        </body>
        
