<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="estilo.css">
    <title>ElBuenSaborFront</title>

</head>

<body>
 
    <div class="conten">
        <h1 style="color: blanchedalmond">NUESTROS PLATOS</h1>
        <div class="card">
            <h3 style="color: aliceblue;">Empanada de Carne</h3>
            
            <img src="../home/images/empanada-carne.jpg" style="width: 25%">
            
<!--CREANDO VENTANA EMERGENTE-->
            <br>
               <button id="open1">
                   Detalle
                </button>
            
                <div class="modal-container" id="modal_container1">
                    <div class="modal">
                        <h1>Ingredientes</h1>
                        <p> masa casera,
                            carne cortada a cuchillo, 
                            huevo, 
                            aceituna, 
                            cebolla                            
                        </p>
                        <button id="close1">OK</button>                        
                    </div>
                </div>
            
                
                <h3 style="color: aliceblue;">Empanada de Jamón & Queso</h3>
                
                <img src="../home/images/empanada-jamon-queso.jpg" style="width: 25%">
                <br>
                <button id="open2">
                    Detalle
                </button>

                <div class="modal-container" id="modal_container2">
                    <div class="modal">
                        <h1>Ingredientes</h1>
                        <p> masa casera,
                            jamon,
                            queso
                        </p>
                        <button id="close2">OK</button>
                    </div>
                </div>

                <h3 style="color: aliceblue;">Hamburguesa de Carne</h3>
                
                <img src="../home/images/hamburguesa de carne.jpg" style="width: 25%">
                <br>
                <button id="open3">
                    Detalle
                </button>
                
                <div class="modal-container" id="modal_container3">
                    <div class="modal">
                        <h1>Ingredientes</h1>
                        <p> 
                            pan casero,
                            carne picada,
                            jamon,
                            queso cheddar,
                            tocino,
                            cebolla
                        </p>
                        <button id="close3">OK</button>
                    </div>
                </div>

                <h3 style="color: aliceblue;">Hamburguesa de Cerdo</h3>
                
                <img src="../home/images/hamburguesa-cerdo.jpg" style="width: 25%">
                <br>
                <button id="open4">
                    Detalle
                </button>
                
                <div class="modal-container" id="modal_container4">
                    <div class="modal">
                        <h1>Ingredientes</h1>
                        <p> 
                        pan casero,
                        carne de cerdo,
                        queso azul,
                        lechuga,
                        tomate,
                        cebolla
                        </p>
                        <button id="close4">OK</button>
                    </div>
                </div>


                <h3 style="color: aliceblue;">Hamburguesa de Pollo</h3>
                
                <img src="../home/images/hamburguesa-pollo.jpg" style="width: 25%">
                <br>
                <button id="open5">
                    Detalle
                </button>
                
                <div class="modal-container" id="modal_container5">
                    <div class="modal">
                        <h1>Ingredientes</h1>
                        <p> 
                            pan casero,
                            pollo,
                            queso,
                            tomate,
                            lechuga

                        </p>
                        <button id="close5">OK</button>
                    </div>
                </div>

                <h3 style="color: aliceblue;">Lomo de Carne</h3>
                
                <img src="../home/images/lomoCarne.jpg" style="width: 25%">
                <br>
                <button id="open6">
                    Detalle
                </button>
                
                <div class="modal-container" id="modal_container6">
                    <div class="modal">
                        <h1>Ingredientes</h1>
                        <p>
                            pan francés,
                            bife de lomo,
                            queso,
                            jamón,
                            tomáte,
                            lechuga,
                        </p>
                        <button id="close6">OK</button>
                    </div>
                </div>

                <h3 style="color: aliceblue;">Pappas Chicas</h3>
                
                <img src="../home/images/papas-chicas.jpg" style="width: 25%">
                <br>
                <button id="open7">
                    Detalle
                </button>
                
                <div class="modal-container" id="modal_container7">
                    <div class="modal">
                        <h1>Ingredientes</h1>
                        <p>
                            papas,
                            tomillo,
                            aji molido,
                            sal
                        </p>
                        <button id="close7">OK</button>
                    </div>
                </div>

                <h3 style="color: aliceblue;">Papas con Chedar</h3>
                
                <img src="../home/images/papas-cheddar.jpg" style="width: 25%">
                <br>
                <button id="open8">
                    Detalle
                </button>
                
                <div class="modal-container" id="modal_container8">
                    <div class="modal">
                        <h1>Ingredientes</h1>
                        <p>
                           papas,
                           tomillo,
                           aji molido,
                           cheddar,
                           sal
                        </p>
                        <button id="close8">OK</button>
                    </div>
                </div>

                <h3 style="color: aliceblue;">Pizza Mozzarella</h3>
                
                <img src="../home/images/pizza-mozzarella.jpg" style="width: 25%">
                <br>
                <button id="open9">
                    Detalle
                </button>
                
                <div class="modal-container" id="modal_container9">
                    <div class="modal">
                        <h1>Ingredientes</h1>
                        <p>
                            papas,
                            tomillo,
                            aji molido,
                            sal
                        </p>
                        <button id="close9">OK</button>
                    </div>
                </div>

                <h3 style="color: aliceblue;">Pizza Especial</h3>
                
                <img src="../home/images/pizza-especial.jpg" style="width: 25%">
                <br>
                <button id="open10">
                    Detalle
                </button>
                
                <div class="modal-container" id="modal_container10">
                    <div class="modal">
                        <h1>Ingredientes</h1>
                        <p>
                            masa casera,
                            salsa de tomáte,
                            queso mozzarella,
                            jamon cocido,
                            morron,
                            aceitunas
                        </p>
                        <button id="close10">OK</button>
                    </div>
                </div>

                <h3 style="color: aliceblue;">Pizza de Rúcula & Jamon Crudo </h3>
                
                <img src="../home/images/pizza-rucula-crudo.jpg" style="width: 25%">
                <br>
                <button id="open11">
                    Detalle
                </button>
                
                <div class="modal-container" id="modal_container11">
                    <div class="modal">
                        <h1>Ingredientes</h1>
                        <p>
                            masa casera,
                            queso mozzarella,
                            aceitunas
                        </p>
                        <button id="close11">OK</button>
                    </div>
                </div>

        </div>
    </div>
    <script src="ventana_emergente.js"></script>
</body>
</html>