<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="estilos.css">
    <title>ElBuenSaborFront</title>

</head>

<body bgcolor="#5a1414" >
 
    <div class="conten">
        <h1 style="color: blanchedalmond">NUESTROS PLATOS</h1>
        <div class="card">
            <h3 style="color: aliceblue;">Empanada de carne</h3>

            <img src="../home/images/empanada-carne.jpg" alt="empanada-carne" style="width: 30%;">

<!--CREANDO VENTANA EMERGENTE-->
            <br>
               <button id="open">detalle</button>
            
                <div class="modal-container" id="modal_container">
                    <div class="modal">
                        <h1>Ventana modal</h1>
                        <p>asjdhkjashdkja</p>
                    </div>
                </div>

        </div>
    </div>
</body>
</html>