<app-navbar></app-navbar>

    <div class="card border-warning mb-3" style="max-width: 90rem;" >
        <div class="card-body">
        <div>
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="text-align:center;"> 
                  <a href="/entrantes" class="btn btn-primary">Pedidos Entrantes</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body" style="text-align:center;"> 
                  <a href="/listos" class="btn btn-primary">Pedidos Listos</a>
                </div>
              </div>
        </div>
        </div>
