<app-navbar [usuarioId]="usuarioId"></app-navbar>

    <div class="card border-warning mb-3" style="max-width: 90rem;" >
        <div class="card-body">
        <div>
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="text-align:center;"> 
                  <a [routerLink]="['/entrantes', usuarioId]" class="btn btn-primary">Pedidos Entrantes</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body" style="text-align:center;"> 
                  <a [routerLink]="['/listos', usuarioId]" class="btn btn-primary">Pedidos Listos</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body" style="text-align:center;"> 
                  <a [routerLink]="['/',usuarioId,'factura','form']" class="btn btn-primary">Generar Factura</a>
                </div>
              </div>
        </div>
        </div>
