<app-navbar [usuarioId]="usuarioId"></app-navbar>

<body>
    <div class="card m-4">
        <div class="card-body">

            <div>
                <title>Pago Exitoso! su pedido esta siendo preparado!</title>
                <button class="btn btn-info m-4 p-4" style="font-size: 2rem;" [routerLink]="['/historialPedidos',usuarioId]">OK</button>
            </div>
            <div>
                <title>Pago Pendiente!</title>
                <h5>Esperamos esperando su pago para poder empezar a preparar su pedido!</h5>
                <button class="btn btn-info m-4 p-4" style="font-size: 2rem;" [routerLink]="['/historialPedidos',usuarioId]">OK</button>
            </div>
            <div>
                <title>Hubo un error en el pago!</title>
                <h5>
                    Su pedido paso a su historial de pedido para que pueda volver a 
                    intentarlo o probrar otro metodo de pago
                </h5>
                <button class="btn btn-info m-4 p-4" style="font-size: 2rem;" [routerLink]="['/historialPedidos',usuarioId]">OK</button>
            </div>

            <title>Bienvenido!</title>
            <h4>Elija su metodo de pago!</h4>
            
            <button class="btn btn-info m-4 p-4" style="font-size: 2rem;">
                <i class="bi bi-cash-coin" style="font-size: 2rem;"></i>
                MercadoPago
            </button>

            <button class="btn btn-warning m-4 p-4" style="font-size: 2rem;">
                <i class="bi bi-wallet2" style="font-size: 2rem;"></i>
                Contado Retiro en el Local
            </button>
        </div>
    </div>
</body>
