<head>
  <meta charset="UTF-8">
  <title>Footer Design</title>
  <link rel="stylesheet" href="footer.component.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<footer>

  <div class="container-footer-all">
    <div class="container-body">

      <div class="columna1">
        <h1>Información sobre Proyecto Final</h1>
        <p>
          Este proyeto se basa en el desarrolo de un software
          para gestionar pedidos realizados a un local de comida rápida,
          utilizando herramientas de software libres,
          para controlar de manera integral los procesos gastronómicos
          y administrativos de cada comanda
        </p>

      </div>

      <div class="columna2">
        <h1>Redes Sociales</h1>

        <div class="row">
          <img src="assets/images/facebook.png">
          <label>
            Siguenos en Facebook
          </label>
        </div>
        <div class="row">
          <img src="assets/images/instagram.png">
          <label>
            Siguenos en Instagram
          </label>
        </div>
        <div class="row">
          <img src="assets/images/twitter.png">
          <label>
            Siguenos en Twitter
          </label>
        </div>


      </div>

      <div class="columna3">
        <h1>Contactos</h1>

        <div class="row2">
          <img src="assets/images/hogar.png">
          <label>Luzuriaga 385,
            Ciudad de Mendoza</label>
        </div>
        <div class="row2">
          <img src="assets/images/telefono.png">
          <label>261-4275726</label>
        </div>
        <div class="row2">
          <img src="assets/images/mensaje.png">
          <label>elbuensabor2021@hotmail.com</label>
        </div>
      </div>

    </div>



  </div>

  <div class="container-footer">
    <div class="footer">
      <div class="copyright">
        @ 2021 Todos los derechos reservados | Team Vicious
      </div>
      <div class="information">
        <a href="">Info del Team</a> |
        <a href="">Privación & Politica</a> |
        <a href="">Terminos & Condiciones</a>
      </div>
    </div>
  </div>


</footer>