.navbar{
    box-shadow: 2px 2px 5px #000;
    opacity: .9;
}

.navbar .nav-item .nav-link{
    color: aliceblue;
}

.header {

    background-image: url(../img/fondo1.jpg); 
    min-height: 1000px; 
    background-size: cover;
    
}

.dropdown-menu {         
    max-height: 200px;
    overflow-y: auto;
  }